:root {
  --orange: #da6624;
  --paragraph-color: #656362;
  --black-one: #0b0f12;
  --white: white;
  --light-red: #f2ece7;
  --dark-golden: #8b6f56;
}
html, body {
  height: 100%;
  margin: 0;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#content-wrap {
  flex: 1;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--light-red); /* creamy background */
}

header, footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--white);
  color: var(--paragraph-color);
}

header {
  border-bottom: 5px solid var(--orange); /* stylistic border */
}

footer {
  border-top: 5px solid var(--orange); /* stylistic border */
  background-color: #333;
  color: #fff;
}

.language-selector {
  text-align: center;
  padding: 1rem;
}

.menu-container {
  margin: auto;
  width: 90%;
}

.menu-tabs {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  margin-left: 10px;
  margin-right: 10px;
}

.tab-link {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s;
  font-size: 17px;
  letter-spacing: .16rem;
  text-transform: uppercase;
  /* font-weight: 600; */
  margin-bottom: -1px; /* Aligns tab with the border */
  /* width: 25% */
}

.tab-link:hover, .tab-link.active {
  border-bottom: 3px solid #000;
}

.tab-content-container {
  padding-top: 0.5rem;
}

.tab-content {
  display: none;
  padding: 0.5rem;
}

.tab-content.active {
  display: block;
}

.menu-item {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.menu-item-image {
  max-width: 100px;
  margin-right: 1rem;
}

.menu-item-details {
  flex: 1;
}

.menu-item-name {
  font-size: 1.5rem;
  color: #333;
}

.menu-item-description {
  font-size: 1rem;
  color: #666;
}

.menu-item-price {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.menu-item-tags {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

.menu-item-tags li {
  display: inline-block;
  background: #e2e2e2;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.85rem;
  border-radius: 3px;
}

.language-selector {
  text-align: center;
  margin-bottom: 1rem;
}

.language-selector button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background-color: #4CAF50; /* Green background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-selector button:hover {
  background-color: #45a049;
}

#filterControls {
  text-align: center;
  margin-bottom: 1rem;
  display: none;
}

#clearFilterButton {
  padding: 0.5rem 1rem;
  background-color: #f44336; /* Red background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#clearFilterButton:hover {
  background-color: #da190b;
}

/* Style for active filter tag */
#activeFilter {
  display: inline-block;
  background: #e2e2e2;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.85rem;
  border-radius: 3px;
  margin-bottom: 1rem;
}

/* Style for clear filter 'button' to make it look like a link */
#clearFilterButton {
  background: none;
  color: #007bff;
  border: none;
  padding: 0;
  font-size: 0.85rem;
  text-decoration: underline;
  cursor: pointer;
}

#clearFilterButton:hover {
  color: #0056b3;
}

/* Horizontal tabs for desktop */
@media (min-width: 600px) {
  .tab-content-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; Adjust as needed for your design */
}

.menu-item {
    flex-basis: calc(33.333% - 20px); /* Adjust the margin as needed */
    margin: 10px; /* Adjust as needed */
    box-sizing: border-box;
}
}

/* Vertical tabs for mobile */
@media (max-width: 599px) {
  .menu-tabs {
      display: block;
  }
  .tab-link {
    width: 100%;
  }
}